/org.eclipse.dltk.core/
/org.eclipse.dltk.ui/
/org.eclipse.e4.workbench/
/org.eclipse.jdt.core/
/org.eclipse.jdt.ui/
/org.eclipse.m2e.logback.configuration/
/org.eclipse.oomph.setup/
/org.eclipse.php.ui/
/org.eclipse.ui.ide/
/org.eclipse.ui.intro/
/org.eclipse.ui.workbench/
